{{>header}}
    <form>
        <input type="text" placeholder="Location">
        <button>Submit</button>
    </form>
    <p class="message0"></p>
    <p class="message1"></p>
    <p class="message2"></p>
{{>footer}}